@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Tabac Slab";
    font-weight: 400;
    src: url("/fonts/Tabac\ Slab.otf") format("opentype");
  }
  @font-face {
    font-family: "Tabac Slab";
    font-weight: 900;
    src: url("/fonts/Tabac\ Slab\ Black.otf") format("opentype");
  }
  @font-face {
    font-family: "Tabac Slab";
    font-style: italic;
    font-weight: 900;
    src: url("/fonts/Tabac\ Slab\ Black\ Italic.otf") format("opentype");
  }

  @font-face {
    font-family: "Tabac Big Slab";
    font-weight: 900;
    src: url("/fonts/Tabac\ Big\ Slab\ Black.otf") format("opentype");
  }

  @font-face {
    font-family: "Josefin Sans";
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "Lilita One";
    font-weight: 400;
    src: url("/fonts/LilitaOne.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 100;
    font-style: normal;
    src: url("/fonts/Sarabun-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/Sarabun-ThinItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 200;
    font-style: normal;
    src: url("/fonts/Sarabun-ExtraLight.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 200;
    font-style: italic;
    src: url("/fonts/Sarabun-ExtraLightItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 300;
    font-style: normal;
    src: url("/fonts/Sarabun-Light.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 300;
    font-style: italic;
    src: url("/fonts/Sarabun-LightItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Sarabun-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/Sarabun-Italic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/Sarabun-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 500;
    font-style: italic;
    src: url("/fonts/Sarabun-MediumItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Sarabun-SemiBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/Sarabun-SemiBoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/Sarabun-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/Sarabun-BoldItalic.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 800;
    font-style: normal;
    src: url("/fonts/Sarabun-ExtraBold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Sarabun";
    font-weight: 800;
    font-style: italic;
    src: url("/fonts/Sarabun-ExtraBoldItalic.ttf") format("truetype");
  }

  :root {
    --brand-primary: 357 75% 45%;
    --brand-secondary: 198 100% 87%;
    --brand-tertiary: 354 83% 88%;

    --brand-bronze: 30 61% 48%;
    --brand-silver: 30 2% 62%;
    --brand-gold: 45 100% 48%;

    --background: white;

    --foreground: 240 10% 3.9%;
    /* --card: 0 0% 100%; */
    --card: 220, 5%, 90%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: var(--brand-primary);
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: var(--brand-secondary);
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --contrast-text: #333;
  }

  .dark,
  :root[class~="dark"] {
    --background: 220 5% 12%;
    --foreground: 0 0% 95%;
    --card: 44 1% 41%;
    /* --card-foreground: 0 0% 95%; */
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: var(--brand-primary);
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: var(--brand-secondary);
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --contrast-text: #f1f1f1;

    --brand-bronze: 30 61% 48% 50%;
    --brand-silver: 30 2% 62% 50%;
    --brand-gold: 45 100% 48% 50%;
  }
}

input,
textarea {
  border: 2px solid hsl(var(--border));
  padding: 4px 8px;
}

@layer utilities {
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }
  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
}
